@model SocialNetwork.web.Models.Profile.ProfileViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<div>
    <h3>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
    <hr />
    <div class="alert-info">
        <div>
            <img src="@Url.Content(Model.PictureUrl)" alt="Profile Picture" style="width: 150px; height: 150px;" />
        </div>
        <div>
            <h5>@Html.DisplayNameFor(model => model.BirthDate)</h5>
            <h5>@Html.DisplayFor(model => model.BirthDate)</h5>
        </div>
    </div>

</div>

<p>
    @if (!Model.IsFriend)
    {
        @Html.ActionLink("Adicionar aos amigos", "AddFriend", "Profiles", Model, FormMethod.Get)
    }
    @if (Model.IsFriend)
    {
        @Html.ActionLink("Remover dos amigos", "RemoveFriend", "Profiles",  Model, FormMethod.Get)
    }
</p>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.AccountId)
