@model SocialNetwork.web.Models.Profile.ProfileViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<div>
    <hr />
    <div class="container">
        <div class="col-md-3">
            <img src="@Url.Content(Model.PictureUrl)" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 100px;" />
        </div>
        <div class="col-md-9">
            <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) | @Html.ActionLink("Atualizar perfil", "Update", Model)</h4>
            <h5>@Html.DisplayNameFor(model => model.BirthDate): @Html.DisplayFor(model => model.BirthDate)</h5>
            <h5>Following: @Model.Following.Count  |  Followers: @Model.Followers.Count</h5>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 50px;">
    @if (Model.Following.Count == 0)
    {
        <h4>@Html.ActionLink("Sem amigos. Clique aqui para procurar para adicionar.", "ListProfiles", "Profiles")</h4>
    }
    @if (Model.Following.Count > 0)
    {
        <div class="col-md-6">
            <h4>Following</h4>
            <table class="table" id="tableFollowing">
                @foreach (var item in Model.Following)
                {
                    <tr>
                        <td><img src="@Url.Content(item.PictureUrl)" alt="Profile Picture" style="width: 25px; height: 25px; border-radius:100px;" /></td>
                        <td style="font-weight:bold;font-size: 16px;">@Html.ActionLink(item.FirstName + " " + item.LastName, "Details", new { item.Id })</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.AccountId)
@Html.HiddenFor(model => model.PictureUrl)