@model IEnumerable<SocialNetwork.web.Models.Profile.ProfileViewModel>

@{
    ViewBag.Title = "List Profiles";
}

@if (Model.Count() == 0)
{
    <h2>A rede social não contem nenhum perfil para você interagir...</h2>
}

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.PictureUrl)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@Url.Content(item.PictureUrl)" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 100px;" /></td>
            <td><p>@Html.ActionLink(item.FirstName + " " + item.LastName, "Details", new { item.Id })</p></td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Followers.Count) @Html.DisplayNameFor(model => model.Followers) 
                | @Html.DisplayFor(modelItem => item.Following.Count) @Html.DisplayNameFor(model => model.Following)</p>
            </td>
        </tr>
    }
    </table>
}
